<ng-container>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="page-Heading">
  {{DashboardType=='Project'? "Project Dashboard" : "User Dashboard"}}
  
</div>
 
    <!-- <div style="margin: auto; width: 100%" #cardContainer>
       <ngx-charts-number-card
        [view]="[cardContainer.offsetWidth, 170]"
        [scheme]="colorScheme"
        [results]="cardData"
        [cardColor]="cardColor"
        (select)="onSelectionChanged($event)"
      >
      </ngx-charts-number-card> 
    </div>-->

<!-- fxLayoutAlign="space-evenly"  -->
    <div fxLayout="row" fxLayoutGap="20px" >
      <div  *ngFor="let cardData of data"  fxLayout="column">
          <app-card
              [count]="cardData.count"
              [text]="cardData.text"
              [icon]="cardData.icon"
              [iconColor]="cardData.iconColor"
              [altText]="cardData.altText"
              [height]="cardData.height"
              [width]="cardData.width"
              [backgroundColor]="cardData.iconColor"
              [type]="cardData.type"
          >
          </app-card>
      </div>
  </div>
  
<!--       

    <div>
      
    
      <div style="width: 98%;margin: 10px;height: calc(100vh - 250px);margin-bottom: 10px; overflow-y: scroll;">
  <ag-grid-angular
  #agGrid style="width: 98%; height: calc(100vh - 340px); flex: 1 1 auto;margin: 10px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [masterDetail]="true"
    [rowSelection]="'single'"
    [pagination]="true"
    [paginationPageSize]="14"
    [context]="context"
    [components]="components"
    [detailCellRendererParams]="detailCellRendererParams"
    [rowData]="rowData"
    [components]="components"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
      </div>
 </div>  -->
  </ng-container>
 
  <!-- <app-calender></app-calender> -->