
.img-login {
    width: 100%;
    max-width: 475px;
    height: auto;
  }
  
  .p-15 {
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 1224px) {
  
    /* Styles */
    .login-button {
      width: 500px;
    }
  }
  
  .main-div{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }