<div>
  <div
    style="
      height: 50px;
      margin: 30px;
      text-align: center;
      display: flex;
      flex-direction: row;
    "
  >
    <div class="head">
      <span>
        <p>  {{this.FormName=="timesheet"? "Timesheet" : 'Time Sheet Approval'}} </p>
      </span>
    </div>
  </div>
</div>
<div  class="datepicker" *ngIf="this.FormName=='approval'" style="margin-left: 10px;">
  <mat-form-field   style="width: 271px;" >
    <!-- <mat-label>Enter a date range</mat-label> -->
    <mat-date-range-input [formGroup]="dateform" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<div class="datepicker" *ngIf="this.FormName=='timesheet'" style="margin-left: 10px;">
  <form [formGroup]="dateform">
    <mat-form-field class="datepicker-field" appearance="outline">
      <input
        matInput
        [matDatepicker]="minmaxvalidation"
        placeholder="Pick a date"
        maxlength="maxDate"
        [max]="maxDate"
        formControlName="datepicker"
      />
      <mat-datepicker-toggle
        matSuffix
        
        [for]="minmaxvalidation"
      ></mat-datepicker-toggle>

      <mat-datepicker #minmaxvalidation>
        <!-- <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply >Apply</button>
                </mat-datepicker-actions> -->
      </mat-datepicker> 
      </mat-form-field> 
    <!-- <button mat-raised-button style="width: 90px; background-color: #90c0e5 !important; color: black;" (click)="search()">Search</button> -->
  </form>
</div>

<mat-tab-group preserveContent *ngIf="this.FormName=='timesheet'" >
  <mat-tab label="Schedule Activities">
    <!-- <div *ngIf="this.userPermissions === 'SA'">
      <div class="sample">
        <button mat-button class="buttonColor1" (click)="approveButton()">
          TeamMember
        </button>
        &nbsp;&nbsp;
        <button mat-button class="buttonColor1" (click)="approveButton()">
          Approve</button
        >&nbsp;&nbsp;
      </div>
    </div>
  -->
        <!-- <button mat-button class="buttonColor1" (click)="cancel()">Cancel</button>  -->

      <div class="table">
        <ag-grid-angular
          style="width: 99%; height: 65vh"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData"
          [groupDefaultExpanded]="-1"
          (gridReady)="onGridReady($event)"
          [getRowId]="getRowId"   
          [getRowClass]="getRowClass"
          [groupDisplayType]="'groupRows'"
          [singleClickEdit]="true"[paginationPageSizeSelector]='false'
          [pagination]="true"
          [paginateChildRows]="true"
          [paginationAutoPageSize]="true"
          [paginationPageSize]="10"
          (selectionChanged)="onSelectionChanged($event)"
          [rowSelection]="'multiple'"
          (cellValueChanged)="onCellValueChanged($event)"
        ></ag-grid-angular>
      </div> 
  </mat-tab>

  <!-- <div>
    <div style="
        height: 50px;
        margin: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
      ">
        <div class="head">
            <span>
                <p>Unschedule Activities</p>
            </span>
        </div>
    </div>
</div> -->
  <mat-tab label="Unschedule Activities">
    <div fxLayout="row" fxLayoutAlign="end none" style="margin-bottom: 10px;" >
            <button
        mat-raised-button
         
        (click)="addRow()"
      >
        Add Row
      </button>
    </div> 
    
    <div class="table">
      <ag-grid-angular
        style="width: 99%; height: 65vh"
        class="ag-theme-alpine"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="listData"
        [rowSelection]="'single'"
        (gridReady)="onGridReadys($event)"   
        [components]="components" [paginationPageSizeSelector]='false'
        [getRowId]='getRowIdschedule'
      [getContextMenuItems]="getContextMenuSchedule"
      [pagination]="true"
        [paginationPageSize]="10"
        (cellValueChanged)="onUnscheduleValueChanged($event)"
      ></ag-grid-angular>
    </div> 
  </mat-tab>
</mat-tab-group>
       <!-- [autoGroupColumnDef]="autoGroupColumnDef" -->
       <!-- <div>  -->
  <div class="table"  *ngIf="this.FormName=='approval'">
    <ag-grid-angular
      style="width: 99%; height: 65vh"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="rowData" 
      [groupAllowUnbalanced]="true"
      [getContextMenuItems]="getContextMenuItems"
      [groupDefaultExpanded]="-1"
      (gridReady)="onGridReady($event)"
      [getRowId]="getRowIdApproval"  
      [suppressRowClickSelection]="true"[paginationPageSizeSelector]='false'
      [groupDisplayType]="'groupRows'"
      [groupRowRendererParams]="groupRowRendererParams"
      [groupSelectsChildren]="true"
      [singleClickEdit]="true"
      [alwaysShowVerticalScroll]="true"
      [context]="context"
      [paginationPageSize]="10"
      (selectionChanged)="onSelectionChanged($event)"
      [rowSelection]="'multiple'"
      (cellValueChanged)="OnValuesChanged($event)"
    ></ag-grid-angular>
  </div>
  <ng-template #editViewPopup let-data>
    <mat-card>
      <mat-card-header style="flex: 1 1 auto">
        <div style="width: 100%">
          <h2 style="text-align: center" class="page-title">
            {{ pageHeading }}
          </h2>
        </div>
        <div style="text-align-last: end">
          <mat-icon mat-dialog-close>close</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content style="padding-top: 10px">
        <form [formGroup]="form">
          <formly-form
            [model]="selectedModel"
            [fields]="fields"
            [form]="form"
          ></formly-form>
          <!-- <formly-form  [fields]="fields" [form]="form">
            </formly-form>  -->
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div style="text-align-last: end; width: 100%">
          <button style="margin: 5px" mat-button mat-dialog-close>
            Cancel
          </button>
          <button
            style="margin: 5px"
            mat-button
            (click)="resetBtn('reset')"
          >
            Reset
          </button>
          <button
            style="margin: 5px; background: rgb(59, 146, 155)"
            (click)="saveForm(data)"
            mat-raised-button
            color="warn"
          >
            save
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-template>
<!-- </div> -->
