<div style="height:60px;">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row *ngIf="navItems">
      <!-- App logo  -->
      <!-- <div  class="app-logo">
      </div> -->
      <span class="menu-items" style="padding: 8px;" fxLayout="row wrap"  fxLayout.md="row"  fxLayoutWrap>
        <span *ngFor="let item of navItems">
          <!-- Handle branch node buttons here -->
          <span *ngIf="item.children && item.children.length > 0">
            <button mat-button [matMenuTriggerFor]="menu.childMenu">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              {{item.displayName}}
              <mat-icon>expand_more</mat-icon>
            </button>
            <app-menu-item #menu [items]="item.children"></app-menu-item>
          </span>
          <!-- Leaf node buttons here -->
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-button color="primary" [routerLink]="item.route" (click)="projectmenuClose()">
              {{item.displayName}}
            </button>
          </span>
        </span>
      </span>
      <span>
      <button  mat-menu-item (click)="homepage($event)">
        <mat-icon>home</mat-icon>
      </button>
    </span>
    <span>
        <!-- Project Menu <mat-slide-toggle  [FormControl]="FormControl" (click)="projectmenu($event)"></mat-slide-toggle> -->
        <!-- <div   *ngIf="collapsed"> -->
          <!-- <form [formGroup]="form"> -->
            <mat-form-field style="margin-left: 14px;width: 90%;margin-top: 21px;" appearance="fill">
            <mat-select [formControl]="selectProject" >
              <mat-option *ngFor="let data of this.project_Data" (click)="projectmenu(data)"  [value]="data._id">{{data.name}}</mat-option>
            </mat-select>
            <!-- @if (animalControl.hasError('required')) {
              <mat-error>Please choose an animal</mat-error>
            } -->
          </mat-form-field>
          <!-- </form> -->
            <!-- </div> -->
          
            
        <!-- Project Menu <mat-slide-toggle  [checked]="project_menu" (click)="project_menu=(!project_menu);projectmenu($event)"></mat-slide-toggle> -->
    </span>


     <button mat-icon-button [matMenuTriggerFor]="menu" style="width:50px;" >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout($event)">
          <mat-icon>logout</mat-icon><span>Logout</span>
        </button>
        <!-- <button mat-menu-item (click)="changepassword($event)">
          <mat-icon>visibility</mat-icon><span>Change password</span>
        </button> -->
       
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar> 
</div>