@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

a:hover{
  cursor: pointer;
}

body{
  font-family: 'Fredoka', sans-serif;
}

body input:focus, textarea:focus {
  border-color: rgba(22, 25, 21, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}
/* #inp2:focus {
  border-color: rgba(241, 17, 17, 0.998);
  box-shadow: 0 1px 1px rgb(204, 37, 37) inset, 0 0 8px rgb(239, 17, 17);
  outline: 0 none;
} */
input[type="checkbox"]:focus {
  border-color: rgba(22, 25, 21, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;

}
